<%- include('partials/header') %>
<%-include('partials/navbar')%>
<div class="pb-5 mb-4 bg-light rounded-3 bg-dark text-white text-center">
    <div class=" pt-5">
        <h1 class="display-5 fw-bold">Add new molecule</h1>
    </div>

    <div class="form-signin w-50 m-auto">
        <form action="/addMolecule" method="POST" id="addMolForm">
            <div class="form-floating">
                <h4>Molecule name:</h4>
                <input class="form-control" type="text" id="moleculeName" name="name" required>
            </div>
            <div class="form-floating mb-4">
                <h4>Formula:</h4>
                <input class="form-control" type="text" id="formula" name="formula" required>
            </div>
            <div class="form-floating">
                <h4>File:</h4>
                <input class="form-control" type="file" id="fileName" name="fileName" required>
            </div>
            <br>
            <button class="w-50 btn btn-lg btn-primary">Submit</button>
        </form>
    </div>



<%- include('partials/footer') %>