<!-- Include the header and navbar partials -->
<%- include('partials/header') %>
<%- include('partials/navbar')%>

<div class="d-flex border pb-5 mb-4 bg-light rounded-3 bg-dark text-white justify-content-center">
  <div class="d-flex border-bottom w-100 justify-content-center">
    <h1 class="display-5 fw-bold">Admin Page</h1>
    <div class="d-flex">
      <button class=""></button> 
    </div>
    
  </div>
</div>

<%- include('partials/footer') %>